
.App {
  text-align: center;
}

.form-design{
  padding-top: 15px;
    padding-bottom: 15px;
    background-color: aliceblue;
}

.bg-title{
  color: #117a8b;
  font-family: ui-monospace;
  border-bottom: 3px solid;
}

.list-header {
  font-family: ui-monospace;
}

.f-size{
  font-size: larger;
}
.invalid-feedback {
  color: red !important; 
}

.App-header {
  background-image: url(../src/images/office.jpg);
  min-height: 100vh;
  justify-content: center;
  color: black;
}


.head-col {
  background-image: linear-gradient(to left, rgba(255,0,0,0), #0062cc);
  color: aliceblue;
}

.bg-color{
  background-color: linear-gradient(to left, rgba(255,0,0,0), #8ec6ff) ;
}
.cursor{
  cursor: pointer;
}

